<center><br/><h1>Welcome to the home page!</h1></center>
<br/>

<center><h5>A Simple CRUD application to create, read, update and delete data...Developed using Ruby on Rails💎</h6></center>
<center><%= image_tag("crud.jpg")%></center>
